.game-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* width: 500px; */

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    opacity: 0.7;
    margin-bottom: 1rem;
  }
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.left {
  display: flex;
  flex-direction: column;
  flex: 1 1 75%;
}
.wrap-me {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1 1 25%;
}

.controls {
  margin: 10px 0;
  width: 100%;

  input {
    min-width: 200px;
    width: 100%;
  }
}

#result-area,
#dice-area {
  margin-top: 20px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#dice-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.dice {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  position: absolute;
}

.dot-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot-2 {
  top: 10%;
  left: 10%;
}
.dot-3 {
  bottom: 10%;
  right: 10%;
}
.dot-4 {
  top: 10%;
  right: 10%;
}
.dot-5 {
  bottom: 10%;
  left: 10%;
}
.dot-6 {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.dot-7 {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
