<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEB-CASINO - {% block title %}{% endblock title%}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/games">Games</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <div>
        <h1>WEB-CASINO</h1>
        <p>Welcome to the web-casino</p>
      </div>
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </nav>
    <div id="root"></div>
    <script
      type="module"
      src="{{ url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>
